.App {
  text-align: center;
}

body {
  background-color: lightblue;
}
.movieContainer {
  background-color: rgba(58, 66, 68, 0.692);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.movieContainer button {
  all: unset;
}

.movieContainer button:focus {
  outline: revert;
}